@tailwind utilities;

.sm-component-mock {
    background: linear-gradient(-45deg, #e4e4e4, #c0c0c0, #f5f5f5);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
    border-radius: .5rem;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* HTML: <div class="loader"></div> */
.sm-loader {
    background: repeating-linear-gradient(-45deg,#000 0 15px,#0000 0 20px) left/200% 100%;
    animation: l3 2s infinite linear;
	border-radius: .5rem;
}
@keyframes l3 {
    100% {background-position:right}
}

.sm-loader-sm {
    width: calc(40px / cos(45deg));
    height: 10px;
}

.sm-loader-md {
    width: calc(80px / cos(45deg));
    height: 12px;
}

.sm-loader-lg {
    width: calc(120px / cos(45deg));
    height: 14px;
}

    