@tailwind utilities;

.sm-component-mock {
    background: linear-gradient(-45deg, #e4e4e4, #c0c0c0, #f5f5f5);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
    border-radius: .5rem;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}